@model FindDoctor.Models.Doctors

@{
    ViewBag.Title = "LoginDoctor";
}

<main>
    <div class="bg_color_2">
        <div class="container margin_60_35">
            @using (Html.BeginForm())
            {
                <div id="login-2">
                    <h1>DOKTOR GİRİŞ SİSTEMİ</h1>
                    <h1 style="color:darkred">@ViewBag.LoginError</h1>


                    <div class="box_form clearfix">
                        <div class="box_login">




                        </div>
                        <div class="box_login last">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", placeholder = "Mail Adresiniz", type = "email", required = "required" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Şifreniz", type = "password", required = "required" })
                                <a href="#0" class="forgot"><small>Şifremi Unuttum !</small></a>
                            </div>
                            <div class="form-group">
                                <input class="btn_1" type="submit" value="GİRİŞ YAP">
                            </div>
                        </div>
                    </div>

                    <p class="text-center link_bright">Henüz hesabın yok mu ? <a href="/Home/RegisterDoctor"><strong>KAYIT OL!</strong></a></p>

                </div>
            }
            <!-- /login -->
        </div>
    </div>
</main>
